html{
    font-family: 'Montserrat','Poppins', sans-serif;
}
:root{
    --bleu_aca: rgb(10, 49, 108);
    --bleu_logo: rgb(19, 123, 190);
    --cyan_tech: rgb(129,236,236);
    --blanc_pur:rgb(255,255,255);
    --orange: rgb(235, 145, 20);
}

body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    color: var(--bleu_aca);
}

header{
    max-height: 10%;
    color: var(--blanc_pur);
}

footer{
    max-height: 10%;
    background-color: var(--bleu_aca) ;
    color: var(--blanc_pur);
}

section{ 
    padding-left: 5%;
    padding-right: 5%;
}

.section_hover{
    padding: 0%;
    margin-left: 5%;
    margin-right: 5%;
}

.section_hover{
    border: 1px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.section_hover:hover{
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--bleu_logo);
    border-radius: 20px;
    transform: scale(1.05,1.05);
    background-color: rgb(250,250,250);
}

a{
    text-decoration-line:none;
    color:var(--orange);
}

a:hover{
    color: var(--cyan_tech);
}

h1{
    text-align: center;
    padding: 30px;
}

h2{
    text-align:left;
    margin-left: 10%;
    padding: 20px;
}

ul{
    list-style:none;
}

.texte_blanc{
    color: var(--blanc_pur);
}

.texte{
    font-size: 15px;
}

.texte_titre{
    font-size: 20px;
    font-weight: bolder;
}

.texte_citation{
    font-size: 15px;
    font-style: italic;
}

.texte_citation_grand{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.texte_aligne{
    font-size: 15px;
    justify-content:flex-start;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}

.back_img{
    color: var(--blanc_pur);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../DATA/img/illus.jpg");
}

.box_10{
    width: 10%;
    padding: 10px;
    text-align: center;
    justify-items: center;
}

.box_25{
    width: 25%;
    padding: 10px;
    text-align: center;
    justify-items: center;
}

.box_45{
    width: 45%;
    padding: 10px;
    text-align: center;
    justify-items: center;
}

.box_90{
    width: 90%;
    padding: 10px;
    text-align: center;
    justify-items: center;
}

.box_100{
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-items: center;
}

.box_height_150{
    height: 150px;
}

.box_height_100{
    height: 100px;
}

.box_height_50{
    height: 50px;
}

.box_fixe{
    flex: none;
    width: 480px;
    padding: 10px;
    text-align: center;
    scroll-snap-align: center;
}

.box_spread{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;   
}

.box_center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box_start{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.box_overflow{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

.previous,.next{
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 50%;
    display: inline-block;
    color: var(--blanc_pur);
    background-color: var(--bleu_aca);
}

.progress{
    width: 14px;
    height: 14px;
    margin: 5px;
    border-radius: 50%;
    border: 3px solid var(--bleu_aca);
}

.progress_current{
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    background-color: var(--bleu_aca);
}

.center{
    align-items: center;
    align-content: center;
}

.img_radius_10{
    border-radius: 10px;
}

.img_width_100{
    width: 100%;
}

.img_height_100{
    height: 100%;
}

.img-grande{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 600px;
    margin: 20px auto;
}

.img-grande > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.img-petite{
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    min-width: 10%;
}

.img-petite > img, .img-profil>img, .img-presentation>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.img-profil{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 250px;
    height: auto;
    max-width: 300px;
    margin: 20px;
}
.texte-profil{
    width: 40%;
    margin-right: 20px;
}

.img-presentation{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    object-fit: cover;
    transform: scale(1,1);
    transition: all 0.3s ease-in-out;
    margin: 10px;
}

.img-presentation:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s ease-in-out;
}

#presentation-equipe{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 150px;
    text-align: justify;
}

.contenu{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
    margin-left: 50px;
    text-align: left;
}

.min-width-50{
    min-width: 50%;
}

.contenu-texte{
    margin:30px;
    text-align: justify;
    max-width: 30%;
}

@media (max-width: 750px) {
    .box_spread{
        flex-direction: column;
    }
    .contenu-texte{
        min-width: 100%;
    }
    .img-petite{
        width: 95%;
        height: auto;
    }
    section{
        margin:0;
    }
    .contenu-texte{
        padding: 10px;
    }
}

@media (min-width: 751px) {
    .section_hover:hover{
        transition: all 0.3s ease-in-out;
        border: 1px solid var(--bleu_logo);
        border-radius: 20px;
        transform: scale(1.05,1.05);
        background-color: rgb(250,250,250);
    }
}

#bandeau{
    background-color: var(--bleu_logo);
}

#nav_bar{
    background-color: var(--bleu_aca);
}

.liste-contact{
    list-style:circle;
}
.liste-contact > li{
    margin-left: 100px;
}
.liste-contact > li > p{
    margin-left: 15px;
}

#FAQ{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}